
<launch>
	<node pkg="odrive_ros" type="odrive_node" name="odrive_rear" output="screen" ns="odrive">
                <param name="wheel_track" value="0.532"/>
                <param name="tyre_circumference" value="0.5"/>

                <param name="connect_on_startup"   value="true"/>
                <param name="calibrate_on_startup" value="false"/>
                <param name="engage_on_startup"    value="true"/>

                <param name="publish_odom"    value="false"/>
                <param name="publish_tf"      value="false"/>
                <param name="serial_number"     value="!387E37743437"/>
                <param name="reversed"      value="true"/>
                <param name="axis_for_right"      value="1"/>
        </node>


	<node pkg="odrive_ros" type="odrive_node" name="odrive_middle" output="screen" ns="odrive">
		<param name="wheel_track" value="0.532"/>
		<param name="tyre_circumference" value="0.5"/>
		
		<param name="connect_on_startup"   value="true"/>
		<param name="calibrate_on_startup" value="false"/>
		<param name="engage_on_startup"    value="true"/>
		
		<param name="publish_odom"    value="true"/>
		<param name="publish_tf"      value="false"/>
		<param name="serial_number"	value="!387B37773437"/>
		<param name="reversed"      value="true"/>
		<param name="axis_for_right"      value="1"/>
	</node>

	<node pkg="odrive_ros" type="odrive_node" name="odrive_front" output="screen" ns="odrive">
                <param name="wheel_track" value="0.532"/>
                <param name="tyre_circumference" value="0.5"/>

                <param name="connect_on_startup"   value="true"/>
                <param name="calibrate_on_startup" value="false"/>
                <param name="engage_on_startup"    value="true"/>

                <param name="publish_odom"    value="false"/>
                <param name="publish_tf"      value="false"/>
                <param name="serial_number"     value="!3867376F3437"/>
                <param name="reversed"      value="true"/>
                <param name="axis_for_right"      value="1"/>
        </node>

	<!--Parameter setup second--> 
</launch>
