<launch>
  <node pkg="robot_localization" type="ukf_localization_node" name="ukf_se" clear_params="true">
    <rosparam command="load" file="$(find robot_localization)/params/odometry_and_imu_gps.yaml" />

    <remap from="/odometry/filtered" to="/odom"/>
    <!--  Placeholder for output topic remapping
    <remap from="accel/filtered" to=""/>
    -->

  </node>
</launch>
